<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Proyecto HTML5</title>
</head>
<body>
	<header>
		<h1>Bernal Vito Bernardo</h1>
		<nav>
			<ul>
				<li><a href="#seccion1">Sección 1</a></li>
				<li><a href="#seccion2">Sección 2</a></li>
				<li><a href="#seccion3">Sección 3</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section id="seccion1">
			<h2>Sección 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nullam vehicula enim vel metus dapibus, a mattis felis pulvinar.</p>
			<ul>
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
			</ul>
			<table border="1">
				<tr>
					<th>Columna 1</th>
					<th>Columna 2</th>
				</tr>
				<tr>
					<td>Dato 1</td>
					<td>Dato 2</td>
				</tr>
			</table>
		</section>

		<section id="seccion2">
			<h2>Sección 2</h2>
			<h3>Subsección</h3>
			<p>Nulla facilisi. Maecenas eu purus ut ligula sodales dictum.
				Fusce nec enim nec mauris placerat lobortis.</p>
		</section>

		<section id="seccion3">
			<h2>Sección 3</h2>
			<p>Curabitur volutpat lacus ut odio congue, nec aliquet velit
				eleifend. Duis sit amet tincidunt magna.</p>
		</section>
	</main>

	<aside>
		<h2>Contenido Adicional</h2>
		<a href="https://www.google.com/">Programacion Visual</a> <img
			src="/images/descarga.png" alt="Imagen Adicional">
	</aside>

	<footer>
		<p>Contacto: vitobernal@hotmail.com</p>
		<ul>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Instagram</a></li>
		</ul>
	</footer>
</body>
</html>
